/* Universal Selectors */
* {
    font-family:sans-serif
}
body {
    position:absolute;
    background-color: lightgray;
}

header {
    background-color:rgb(83,86,90);
    color:white;
}

header li {
    display:inline;
    padding:0px 12px;
}

footer {
    background-color:rgb(83,86,90);
    width:100%;
    color:white;
}