/* Universal Selectors */
* {
    font-family:sans-serif
}

body {
    background-color: lightgray;
}

header {
    background-color:rgb(83,86,90);
    color:white;
    padding:5px 0px;
    position:relative;
}

main > section {
    background-color:gray;
    color:black;
    border-style:solid;
    border-color:black;
    margin:10px 0px;
    padding:30px 10px;
}

header h1 {
    padding:0px 5px;
    font-size:medium;

}

header nav {
    /* float:right; */
    position:absolute;
    right:30px;
    bottom:0%;

}

header a {
    display:inline;
    color:white;
    margin:0px 20px;
}

header nav a:link {
    text-decoration: none;
}

header nav a:hover {
    font-weight:bold;
}

aside {
    position:absolute;
    border-style:solid;
    border-color:black;
    right:25px;

}
footer {
    background-color:rgb(83,86,90);
    width:100%;
    color:white;
}

main section h2 {
    font-size: medium;
}